:root {
  /* spacing */
  --tight: 10px;
  --base: 20px;
  --loose: 40px;

  /* sizes */
  --small: 10px;
  --medium: 20px;
  --large: 30px;
  --xlarge: 40px;

  /* colors */
  --primary: #ffffff;
  --secondary: #333033;
  --subdued: #e5e5e5;
  --subdued-dark: #c6c3c3;
  --yellow: #ffc937;
  --blue: #78cdf8;

  background: var(--primary);
  color: var(--secondary);
}

/* swap on dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #333033;
    --secondary: #ffffff;
    --subdued: #282528;
    --subdued-dark: #0d0c0d;
  }
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  margin: 0;
}

ul,
li {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

a {
  color: inherit;
  font-weight: 600;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.75em;
}
