.Container {
  position: relative;
}

.List {
  padding-left: var(--base);
}

.List li {
  line-height: 1.75em;
}

.Container + .Container {
  margin-top: var(--base);
}

.Dot {
  height: 0.5em;
  width: 0.5em;
  position: absolute;
  left: calc(-1 * var(--base));
  top: 0.6em;
  border-radius: 100px;
}
