.Footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

.full {
  width: 100%;
}

.Footer svg {
  height: var(--large);
}

.copyright {
  color: var(--secondary);
  font-family: dm;
  font-size: var(--small);
}

.copyrightIcon {
  color: var(--secondary);
  font-size: var(--small);
}
