.BackDrop {
  background: var(--subdued);
  width: 520px;
  height: 520px;
  border-radius: 100%;
  position: absolute;
  top: 90px;
  left: 55%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackDrop svg {
  position: absolute;
  transition: 0.3s ease;
}

.right {
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.right svg {
  transform: translateX(-20%);
  z-index: 3;
}

.right svg:nth-child(1) {
  transform: translate(0%, -5%);
  z-index: 2;
}

.right svg:nth-child(2) {
  transform: translate(15%, -7%);
  z-index: 1;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.center svg {
  left: 50%;
  transform: translateX(-50%);
}

.block {
  height: 520px;
}
