.BackDrop {
  background: var(--subdued);
  width: 520px;
  height: 520px;
  border-radius: 100%;
  position: absolute;
  top: 90px;
  left: 55%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackDrop picture img {
  position: absolute;
  transition: 0.3s ease;
  width: 220px;
  transform: rotate(18deg);
  box-shadow: 6px 6px 10px #0000005c;
}

.right {
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.right picture img {
  transform: translate(-70%, -40%) rotate(18deg);
  z-index: 3;
  top: 50%;
  left: 50%;
}

.right picture:nth-child(1) img {
  transform:  translate(-50%, -50%) rotate(18deg);
  z-index: 2;
}

.right picture:nth-child(2) img {
  transform:  translate(-30%, -60%) rotate(18deg);
  z-index: 1;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.center picture img {
  left: 50%;
  transform: translateX(-50%);
}

.block {
  height: 520px;
}
